/EjercicioInfoXDOS/target/
/EjercicioInfoXTRES/target/
/EjercicioInfoXCUATRO/nbproject/private/
/EjercicioInfoXCUATRO/build/
/EjercicioInfoCINCO/nbproject/private/
/EjercicioInfoCINCO/build/
/EjercicioInfoXSEIS/nbproject/private/
/EjercicioInfoXSEIS/build/
/EjercicioInfoXSIETE/nbproject/private/
/EjercicioInfoXSIETE/build/
